<table class="table table-sm">
    <thead class="table-active">
        <tr>
            <th>Id</th>
            <th>Libro</th>
            <th>IP</th>
            <th>Calificación</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for calificacion in calificaciones %}
        <tr ng-repeat="x in calificaciones">
            <td>{{ calificacion.idCalificacion }}</td>
            <td>{{ calificacion.titulo }}</td>
            <td>{{ calificacion.ip }}</td>
            <td>{{ calificacion.calificacion }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>  
