<table class="table table-sm">
    <thead class="table-active">
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Publicación</th>
            <th>Portada</th>
            <th>Reseña</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.idLibro }}</td>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.autor }}</td>
            <td>{{ libro.fechaPublicacion }}</td>
            <td>{{ libro.portada }}</td>
            <td>{{ libro.resena }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table> 

